[submodule "themes/hugo_theme_robust"]
	path = themes/hugo_theme_robust
	url = https://github.com/dim0627/hugo_theme_robust.git
[submodule "themes/hugo-theme-bleak"]
	path = themes/hugo-theme-bleak
	url = https://github.com/Zenithar/hugo-theme-bleak.git
